.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background: #212155;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
  background-color: #212155;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

.nav {
  list-style: none;
}

.svg {
  margin-right: 15px;
}

.link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.link:hover {
  color: #fff;
}
